<!DOCTYPE html>
{% load static %}
{% load tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Домашня сторінка</title>
      <!--favicon-img-->
   <link rel="icon" type="image/png" href="../static/images/favicon.jpg">
   <!--favicon-img-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css" integrity="sha256-DBYdrj7BxKM3slMeqBVWX2otx7x4eqoHRJCsSDJ0Nxw=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    <div id="all">
  <div id="preloader">
    <div class="p">ДЖЕЙН</div>
</div>
<div id="breaker"></div>

      <div class="cursor scale"></div>
      <div class="cursor-two  scale"></div>
      <!-- HOME -->
      <div id="home">

        <div class="navigation">

          <div class="logo home-link fade-down">
           <a href="/">ДЖЕЙН</a>
          </div>

          <div class="navigation-links">
            <ul>
              <li class="links about-link fade-down"><a href="{% url 'home:about' %}">О нас</a></li>
            </ul>
          </div>

        </div>
              <div class="slider">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12 p-0">
                      <div class="swiper-container parallax-slider">
                        <div class="swiper-wrapper">
                          {% for type in types %}
                          <div class="swiper-slide">
                              {% albums type as a %}
                              ..{% first_photo a.pk %}
                            <div class="img-container" style="background: url({% first_photo a.pk %}) center;
  background-size: cover;">
                              <div class="slide-text opacity">
                                <a href="{% url 'home:type_albums' t=type.pk %}">{{ type }}
                                  <div class="view-project">{{type.description}}</div>
                               </a>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                        <!-- slider controls -->
                        <div class="slider-controls fade-up-two">
                          <div class="control">
                            <div class="swiper-nav-ctrl prev-ctrl">
                              <img src="../static/images/prev.png" alt="prev" class="slider-control-image">
                            </div>
                          </div>
                          <div class="swiper-pagination-container">
                            <div class="control">
                              <div class="swiper-pagination"></div>
                            </div>
                          </div>
                          <div class="control">
                            <div class="swiper-nav-ctrl next-ctrl">
                              <img src="../static/images/next.png" alt="next" class="slider-control-image">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="scroll-icon fade-up">
                <i class="gg-mouse"></i>
              </div>
            </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js" integrity="sha256-4sETKhh3aSyi6NRiA+qunPaTawqSMDQca/xLWu27Hg4=" crossorigin="anonymous"
    ></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bez.js"></script>
    <script src="../static/js/pace.js"></script>
    <script src="../static/js/index.js"></script>
  </body>
</html>
